{% extends "base.html" %}
{% load static %}

{% block title %}
Épreuves - Exama
{% endblock title %}

{% block content %}

<h1>Toutes les épreuves</h1>

<!-- Filtres -->
<form method="get">

    <label>Matière :</label>
    <select name="matiere">
        <option value="">Toutes</option>
        <option value="top">Topologie de R</option>
        <option value="alg">Algèbres </option>
        <option value="meca">Mecaniques</option>
        <option value="fonc">Fonctions en R</option>
        <option value="ang">Anglais Scientifiques</option>
    </select>

    <label>Année :</label>
    <select name="annee">
        <option value="">Toutes</option>
        <option value="2025">2026</option>
        <option value="2024">2026</option>
        <option value="2023">2025</option>
        <option value="2022">2024</option>
        <option value="2021">2023</option>
    </select>

    <button class="filtrer" type="submit">Filtrer</button>

</form>


<!-- Exemple d'épreuve -->
<div>
    <h2>Topologie de R</h2>

    <p>Matière : Mathématiques</p>
    <p>Année : 2026</p>
    <p>Type : LC</p>

    <a href="/epreuves/1/">
        Voir l'épreuve
    </a>
</div>


<div>
    <h2>Algèbres</h2>

    <p>Matière : Mathématiques</p>
    <p>Année : 2026</p>
    <p>Type : LC</p>

    <a href="/epreuves/2/">
        Voir l'épreuve
    </a>
</div>

<div>
    <h2>Mecaniques</h2>

    <p>Matière : Physiques</p>
    <p>Année : 2026</p>
    <p>Type : LC</p>

    <a href="/epreuves/3/">
        Voir l'épreuve
    </a>
</div>

<div>
    <h2>Fonctions en R</h2>

    <p>Matière : Mathématiques</p>
    <p>Année : 2026</p>
    <p>Type : LC</p>

    <a href="/epreuves/4/">
        Voir l'épreuve
    </a>
</div>


{% endblock content %}