{% extends "base.html" %}

{% block title %}
{{ epreuve.matiere }} - Exama
{% endblock title %}


{% block content %}

<div class="detail-page">

    <a href="{% url 'epreuves' %}" class="back-link">
        ← Retour aux épreuves
    </a>


    <article class="detail-card">

        <div class="detail-header">

            <span class="exam-badge">
                {{ epreuve.get_annee_display }}
            </span>

            <h1>
                {{ epreuve.matiere }}
            </h1>

            <p>
                Épreuve {{ epreuve.get_session_display }}
                de {{ epreuve.entite }}
            </p>

        </div>


        <div class="detail-info">

            <div>
                <span>Matière</span>
                <strong>{{ epreuve.matiere }}</strong>
            </div>

            <div>
                <span>Année</span>
                <strong>{{ epreuve.annee }}</strong>
            </div>

            <div>
                <span>Niveau</span>
                <strong>{{ epreuve.get_niveau_display }}</strong>
            </div>

            <div>
                <span>Session</span>
                <strong>{{ epreuve.get_session_display }}</strong>
            </div>

        </div>


        <div class="download-area">

            <p>
                Cette épreuve est disponible au format PDF.
            </p>

            <a
                href="{{ epreuve.fichier.url }}"
                download
                class="download-button"
            >
                Télécharger le PDF
            </a>

        </div>

    </article>

</div>

{% endblock content %}