{% extends "base.html" %}
{% load static %}

{% block title %}
Épreuves - Exama
{% endblock title %}

{% block content %}

<h1>Toutes les épreuves</h1>

<!-- Filtres -->
<form method="get">

    <label for="matiere">Matière :</label>
    <select id="matiere" name="matiere">
        <option value="">Toutes</option>
        {% for matiere in matieres %}
        <option value="{{ matiere.id }}"{% if matiere.id|stringformat:'s' == matiere_recherchee %} selected{% endif %}>{{ matiere.nom }}</option>
        {% endfor %}
    </select>

    <label for="annee">Année :</label>
    <select id="annee" name="annee">
        <option value="">Toutes</option>
        {% for annee in annees %}
        <option value="{{ annee }}"{% if annee|stringformat:'s' == annee_recherchee %} selected{% endif %}>{{ annee }}</option>
        {% endfor %}
    </select>

    <button class="filtrer" type="submit">Filtrer</button>

</form>


{% for epreuve in epreuves %}
<div>
    <h2>{{ epreuve.matiere }}</h2>
    <p>Année : {{ epreuve.annee }}</p>
    <p>Niveau : {{ epreuve.get_niveau_display }}</p>
    <p>Session : {{ epreuve.get_session_display }}</p>


    <a href="{% url 'epreuves_details' epreuve.id %}">
        Voir l'épreuve
    </a>
</div>
{% empty %}
<p>Aucune épreuve trouvée.</p>
{% endfor %}


{% endblock content %}